body {
  background-color: white;
  font-family: Helvetica, 'Segoe UI', Verdana, sans-serif;
  color: #0a0a0a;
  margin: 0;
  font-size: 1rem; }

a {
  text-decoration: none; }

.menu {
  background-color: #000d28;
  color: white;
  height: 40px;
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  font-weight: bolder; }
  .menu a {
    color: white; }
    .menu a:hover {
      color: #fc003d; }
  .menu .left {
    justify-self: start; }
  .menu .right {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 10px; }
    .menu .right .spacer {
      color: #c5c5c5; }

.hero {
  background-image: url("/public/images/Background_Web.jpg");
  background-color: #000d28;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  color: white;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-row-gap: 30px; }
  .hero .brand {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto; }
    .hero .brand img {
      height: 100px;
      justify-self: center; }
  .hero .eventbananas {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    width: 100%; }
    .hero .eventbananas .event {
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-row-gap: 10px;
      justify-items: center; }
      .hero .eventbananas .event .location {
        font-size: 1.6rem;
        color: #fc003d;
        font-weight: bolder; }
  .hero .mailingList {
    font-size: 0.9rem; }
    .hero .mailingList .input-group {
      margin-left: auto;
      margin-right: auto; }
    .hero .mailingList input {
      border: 0;
      padding: 5px; }
      .hero .mailingList input[type=submit] {
        background: #000d28;
        color: white; }
        .hero .mailingList input[type=submit]:hover {
          background: #fc003d; }
    .hero .mailingList a {
      color: #fc003d; }

.content {
  padding: 20px;
  font-size: 0.9rem; }
  .content .highlight {
    font-weight: bold;
    color: #fc003d; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.5rem;
  text-align: center;
  padding-bottom: 10px; }

a.button {
  height: 30px;
  background-color: #fc003d;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 200px;
  display: grid;
  align-items: center;
  justify-items: center; }

.seperator {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-color: #000d28;
  border-bottom-style: solid;
  border-bottom-width: 1px; }
